body {
  background-image: url('images/minions.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  color: #0c1944;
  font-weight: 300;
  position: relative;
}

.wrapper {
  width: 1000px;
  position: absolute;
  top:400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d6e2da9a;
  border-radius: 30px
}

/* ------------------Player Boards-----------------------*/
.player-0-board,
.player-1-board {
    width: 50%;
    float: left;
    height: 700px;
    padding: 100px;
    border-radius: 30px 0 0 30px;
}

.player-1-board {
  border-radius: 0 30px 30px 0;
}

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #ffd55e;
  top: -7px;
  right: 10px;
}

.active { background-color: #14a3dcbe; }
.active .player-name, .active .global-score { font-weight: 600; }

.global-score {
  color: #ffd55e;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 130px;
  text-align: center;
}

/*------------------Round score box-----------------------*/
.player-round-box {
  background-color: #ffd55e;
  color: rgb(246, 249, 250);
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.20);
  border-radius: 15px;
}

.round-score-title {
  color: #0c1944;
  font-size: 12px;
  margin-bottom: 10px;
}

.round-score {
  font-size: 30px;
}

/*------------------Buttons-----------------------*/
.btn-newGame { top: 45px;}
.btn-rollDice { top: 403px;}
.btn-hold { top: 467px;}

button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #0c1944;
  background: none;
  border: none;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
}

i {
  color: #ffd55e;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

img {
  position: absolute;
  left: 50%;
  top: 178px;
  transform: translateX(-50%);
  height: 100px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.20);
  border-radius: 30px;
}

/*------------------Animation-----------------------*/
button:hover { font-weight: 600;}
button:hover i { margin-top: 1px;}
button:focus { outline: none;}


.winner { background-color: #f2f0f0; }
.winner .player-name { font-weight: 600; color: #ffd55e; }
.winner .global-score { font-weight: 300;}

@media screen and (max-width: 992px)
{
  .wrapper {
    width: 500px;
    position: none;
    margin-top: 50vh;
  }

  .player-0-board,
  .player-1-board {
    width: 100%;
    border-radius: 30px 30px 0 0;
 }
 .player-1-board {
   border-radius: 0 0 30px 30px;
 }

 .btn-newGame { 
   top: 630px;
   left: 20%;
  }
  
 .btn-rollDice { 
   top: 687px;
   left: 20%;}

 .btn-hold { 
   top: 744px;
   left: 18%;}

 img {
   left: 80%;
   top: 653px;
 }
}

@media screen and (max-width: 500px)
{
  .wrapper {width: auto;}
  .player-round-box {width: 50%;}
  .active .player-name::after {right: -35px;}
}